
@model FaceRecognitionDotNet.Front.Models.RegistrationViewModel;

@{
    ViewData["Title"] = "Registration";
}

<h1>@ViewData["Title"]</h1>

<script src="/lib/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>

<style type="text/css">
    .detect-flex-container {
        display: flex;
    }

    .detect-flex-left {
        width: 100%;
        vertical-align: top;
    }

    .detect-flex-right {
        margin: 0 0 0 20px;
        vertical-align: top;
    }
</style>

<form method="post" enctype="multipart/form-data" asp-controller="Registration" asp-action="Submit">
    <p>Upload person data and image file to register</p>

    <div asp-validation-summary="ModelOnly" class="text-danger" />
    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input class="form-control" asp-for="FirstName" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input class="form-control" asp-for="LastName" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Photo" class="control-label"></label>
        <div class="custom-file">
            <input asp-for="Photo" class="custom-file-input" id="inputFile">
            <label class="custom-file-label" for="inputFile">Choose file</label>
        </div>

        <script>
            bsCustomFileInput.init();
        </script>

        <span asp-validation-for="Photo" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-primary" value="Upload" style="float: right" />
</form>
